@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FCFBFF;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
}